<template>
  <div class="home">
    <button class="btn" v-if="!authenticated" @click="login">Login</button>
    <div v-if="authenticated">
      <button class="btn" @click="logout">Logout</button>
      <h1>Hi {{ firstName }}!</h1>
      <div v-if="!loadedOrders" class="lds-ripple">
        <div></div><div></div>
      </div>
      <div class="container">
        <div v-if="loadedOrders" class="row justify-content-center">
          <div v-for="o in orders" class="col-12 col-lg-8" :key="o.title">
            <div class="card" v-if="o.title != null" style="border: 1px solid #42b983; margin-top: 12px;">
              <div class="card-body">
                <h5 class="card-title text-left" style="font-weight: bold;">{{o.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted text-left">- {{o.user}}</h6>
                <p class="card-text text-justify">{{o.message}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container" style="margin-top: 12px;">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
            <form v-on:submit.prevent="addNewOrder">
              <div class="form-group">
                <input id="orderTitle" class="form-control" placeholder="Title" type="text" v-model="newOrder.title"/>
                <textarea id="typed" class="form-control" placeholder="Message" type="text" v-model="newOrder.message"/>
                <input type="submit" class="form-control btn" value="Add Order"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Firebase from '../firebase.js';
import Vue from 'vue';

const ordersRef = Firebase.db().ref('order_master')

export default {
  name: 'Home',
  props: {
    msg: String
  },
  data () {
    return {
      user: {
        loggedIn: false,
        data: {}
      },
      orders: [],
      loadedOrders: false,
      orderIndex: {},
      newOrder: {
        title: "",
        message: "",
        user: ""
      }
    }
  },
  computed: {
    authenticated() {
      return this.user.loggedIn;
    },
    firstName() {
      if (this.user.data.displayName) {
        return this.user.data.displayName.split(' ')[0];
      }
      return null;
    }
  },
  methods: {
    login() {
      Firebase.login();
    },
    logout() {
      Firebase.logout()
    },
    addOrder(key, order) {
      this.orderIndex[key] = this.orders.length;
      this.orders.push({title: order['title'], message: order['message'], user: order['user']});
    },
    updateOrder(key, order) {
      let index = this.orderIndex[key];
      this.orders[index].title = order['title'];
      this.orders[index].message = order['message'];
      this.orders[index].user = order['user'];
    },
    addNewOrder() {
      this.newOrder.user = this.user.data.displayName;
      console.log(this.newOrder.user);
      console.log(this.newOrder.title);
      console.log(this.newOrder.message);
      ordersRef.push(this.newOrder);
      this.newOrder.title = "";
      this.newOrder.message = "";
    }
  },
  mounted: function() {
    Firebase.auth.onAuthStateChanged( user => {
      if (user) {
        this.user.loggedIn = true;
        this.user.data = user;
      } else {
        this.user.loggedIn = false;
        this.user.data = {};
      }
    })
  },
  created: function() {
    ordersRef.once('value', (snapshot) => {
      let orderData = snapshot.val();
      if (orderData !== null) {
        Object.keys(orderData).forEach((key) => {
          this.addOrder(key, orderData[key]);
        });
      }
      this.loadedOrders = true;
    });

    ordersRef.on('child_added', (snapshot) => {
      if (!this.loadedOrders) return;
      this.addOrder(snapshot.key, snapshot.val());
      console.log("New Order");
      Vue.notify({
        group: 'one17-alert',
        title: 'New Order',
        text: `New Order ${snapshot.val()['title']}`
      });
    });

    ordersRef.on('child_removed', (snapshot) => {
      let index = this.orderIndex[snapshot.key];
      this.orders[index].title = null;
      console.log("Removed an Order");
      Vue.notify({
        group: 'one17-alert',
        title: 'Deleted Order',
        text: `An Order ${snapshot.val()['title']} was removed`
      });
    });

    ordersRef.on('child_changed', (snapshot) => {
      this.updateOrder(snapshot.key, snapshot.val());
      console.log("An order was changed");
    });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.btn {
  border: 1px solid  #42b983;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid  #42b983;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

</style>
