<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <notifications position="top center" classes="notific" group="one17-alert" />
    <Home/>
  </div>
</template>

<script>
import Home from './components/Home';

export default {
  name: 'App',
  components: {
    Home
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.notific {
  padding: 10px;
  margin: 0 5px 5px;

  font-size: 18px;

  color: #42b983;
  background: #ffffff;
  border-left: 5px solid #42b983;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}
</style>
